In [1]:
import pandas as pd

## Creating a Series

In [3]:
age_series = pd.Series([10,20,30,40])

In [4]:
age_series

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
age_series_1 = pd.Series([10,20,30,40], index = ["a","b","c","d"])

In [6]:
age_series_1

a    10
b    20
c    30
d    40
dtype: int64

In [29]:
name_age = {"vijay":27,"pratik":23,"ram":27,"keshav":24,"akshay":25}
name_age_series = pd.Series(name_age)
name_age_series

vijay     27
pratik    23
ram       27
keshav    24
akshay    25
dtype: int64

### Access Values and index of series

In [30]:
name_age_series.index

Index(['vijay', 'pratik', 'ram', 'keshav', 'akshay'], dtype='object')

In [31]:
name_age_series.values

array([27, 23, 27, 24, 25], dtype=int64)

In [32]:
type(name_age_series)

pandas.core.series.Series

### Access element in series

In [33]:
name_age_series

vijay     27
pratik    23
ram       27
keshav    24
akshay    25
dtype: int64

In [34]:
name_age_series[0]

27

In [35]:
name_age_series[1]

23

In [36]:
name_age_series.index[1]

'pratik'

In [37]:
name_age_series[0:2]     #slicing

vijay     27
pratik    23
dtype: int64

In [38]:
name_age_series[-1::-1]   # reverse

akshay    25
keshav    24
ram       27
pratik    23
vijay     27
dtype: int64

In [39]:
name_age_series["vijay"]

27

### Filter a series

In [41]:
name_age_series >24

vijay      True
pratik    False
ram        True
keshav    False
akshay     True
dtype: bool

In [42]:
name_age_series[(name_age_series > 24)]

vijay     27
ram       27
akshay    25
dtype: int64

In [43]:
name_age_series[(name_age_series > 24)==False]   # series condition

pratik    23
keshav    24
dtype: int64

In [44]:
name_age_series

vijay     27
pratik    23
ram       27
keshav    24
akshay    25
dtype: int64

In [45]:
name_age_series[(name_age_series>22)  & (name_age_series <25)]

pratik    23
keshav    24
dtype: int64

### Arithmatic Opertaion

In [46]:
name_age_series*2

vijay     54
pratik    46
ram       54
keshav    48
akshay    50
dtype: int64

In [47]:
name_age_series+5

vijay     32
pratik    28
ram       32
keshav    29
akshay    30
dtype: int64

In [48]:
name_age_series-5

vijay     22
pratik    18
ram       22
keshav    19
akshay    20
dtype: int64

In [49]:
name_age_series

vijay     27
pratik    23
ram       27
keshav    24
akshay    25
dtype: int64

In [50]:
ns1 = pd.Series([1,2,3])
ns2 = pd.Series([4,5,6])

In [51]:
ns1.multiply(ns2)

0     4
1    10
2    18
dtype: int64

In [52]:
ns1 + ns2

0    5
1    7
2    9
dtype: int64

### Series ranking and sorting

In [53]:
name_age_series.rank()

vijay     4.5
pratik    1.0
ram       4.5
keshav    2.0
akshay    3.0
dtype: float64

In [54]:
name_age_series.rank(ascending=False)

vijay     1.5
pratik    5.0
ram       1.5
keshav    4.0
akshay    3.0
dtype: float64

In [55]:
name_age_series.sort_index()

akshay    25
keshav    24
pratik    23
ram       27
vijay     27
dtype: int64

In [56]:
name_age_series.sort_index(ascending=False)

vijay     27
ram       27
pratik    23
keshav    24
akshay    25
dtype: int64

In [57]:
name_age_series.sort_values()

pratik    23
keshav    24
akshay    25
vijay     27
ram       27
dtype: int64

In [58]:
name_age_series.sort_values(ascending= False)

vijay     27
ram       27
akshay    25
keshav    24
pratik    23
dtype: int64

### Checking Null Values

In [61]:
ns3 = pd.Series([1,2,3,None,5,6,None,8])

In [62]:
ns3

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    6.0
6    NaN
7    8.0
dtype: float64

In [63]:
ns3.sort_values(na_position = "last")

0    1.0
1    2.0
2    3.0
4    5.0
5    6.0
7    8.0
3    NaN
6    NaN
dtype: float64

In [64]:
ns3.sort_values(na_position = "first")

3    NaN
6    NaN
0    1.0
1    2.0
2    3.0
4    5.0
5    6.0
7    8.0
dtype: float64

In [66]:
ns3.isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
dtype: bool

In [67]:
ns3.isna()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
dtype: bool

In [69]:
ns3[ns3.isnull()==False]

0    1.0
1    2.0
2    3.0
4    5.0
5    6.0
7    8.0
dtype: float64

In [68]:
ns3.isna().sum()   # total count of missing values in series

2

In [70]:
ns3.notnull()

0     True
1     True
2     True
3    False
4     True
5     True
6    False
7     True
dtype: bool

In [71]:
ns3.notna()

0     True
1     True
2     True
3    False
4     True
5     True
6    False
7     True
dtype: bool

### Append/Concat multiple series

In [74]:
ns1

0    1
1    2
2    3
dtype: int64

In [75]:
ns2

0    4
1    5
2    6
dtype: int64

In [73]:
pd.concat([ns1,ns2])

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64

In [78]:
ns2

0    4
1    5
2    6
dtype: int64

In [79]:
ns3

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    6.0
6    NaN
7    8.0
dtype: float64

In [77]:
pd.concat([ns2,ns3])

0    4.0
1    5.0
2    6.0
0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    6.0
6    NaN
7    8.0
dtype: float64

In [80]:
pd.concat([ns1,ns2],keys = ["new_s_1","new_s_2"], names = ["cat","index1"])

cat      index1
new_s_1  0         1
         1         2
         2         3
new_s_2  0         4
         1         5
         2         6
dtype: int64

In [82]:
ns1

0    1
1    2
2    3
dtype: int64

In [83]:
ns2

0    4
1    5
2    6
dtype: int64

In [81]:
pd.concat([ns1,ns2],ignore_index = True) # it will ignore previous index and assign new

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [85]:
pd.concat([ns1,ns2]).reset_index()

   index  0
0      0  1
1      1  2
2      2  3
3      0  4
4      1  5
5      2  6

In [86]:
pd.concat([ns1,ns2],ignore_index = True).reset_index()

   index  0
0      0  1
1      1  2
2      2  3
3      3  4
4      4  5
5      5  6

In [87]:
ns1.append(ns2)

C:\Users\MR.GODHADE\AppData\Local\Temp\ipykernel_2712\3476826403.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ns1.append(ns2)

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64