In [1]:
f2 = lambda a,b:a+b

In [2]:
f2(1,2)

3

### User Defined Function

In [3]:
def great():
    print('welcome')
    print('hello')

In [4]:
great()

welcome
hello

In [5]:
out = great()

welcome
hello

In [6]:
out

In [8]:
def great1():
    print('welcome')
    print('hello')
    return "vijay"         # return is used for store the outputInput

In [9]:
v = great1()

welcome
hello

In [10]:
v

'vijay'

### Input Variable

In [22]:
def greet2(name, address):
    print('hellow', name,'!')
    print('your Address is', address)

In [23]:
greet2('vijay','kolhapur')

hellow vijay !
your Address is kolhapur

In [24]:
greet2('kolhapur','vijay') # position swapped

hellow kolhapur !
your Address is vijay

In [25]:
greet2(address = 'Satara', name = 'pratik')  # when input identifier is given, position does not matter

hellow pratik !
your Address is Satara

### Return Value

In [26]:
def greet3 (name, address):
    return name + "_" + address

In [27]:
greet3("vijay", 'kolhapur')

'vijay_kolhapur'

In [31]:
out = greet3("vijay", 'kolhapur')

In [32]:
out

'vijay_kolhapur'

### Default Argument

In [33]:
def greet4(name, address = 'Pune'):
    return name + '_' +address

In [34]:
greet4('vijay')

'vijay_Pune'

In [35]:
greet4('pratik','satara')

'pratik_satara'

In [38]:
greet4('ram')

'ram_Pune'

In [41]:
greet4('kolhapur')

'kolhapur_Pune'

### Variable Length Arguments

In [46]:
def sum_fun(*numbers):
    print(numbers)

In [47]:
sum_fun(1,2,3,3,2,3,)

(1, 2, 3, 3, 2, 3)

In [52]:
def sum_fun1(**numbers):
    type(numbers)
    for key,value in numbers.items():
        print(key, value)

In [53]:
 sum_fun1(a=3,b=5,c=5)

a 3
b 5
c 5

In [56]:
def sum_fun1(**numbers):
    print("format of inputs -",type(numbers))
    for key,value in numbers.items():
        print("key - ",key,"value - ", value)

In [57]:
sum_fun1(a=3,b=5,c=5)

format of inputs - <class 'dict'>
key -  a value -  3
key -  b value -  5
key -  c value -  5

In [62]:
def sum_fun1(**numbers):
    print("format of inputs -",type(numbers))
    for key,value in numbers.items():
       # print("key - ",key,"value - ", value)
        yield key,value

In [65]:
a = sum_fun1(a=1,b=1,c=2,d=5,e=5)

In [66]:
a

### Lambda Function

In [67]:
greater_fun = lambda num1, num2: num1 if num1>num2 else num2

In [68]:
greater_fun (20,30)

30

In [69]:
greater_fun (30,20)

30

### map(lambda function, sequence)

In [72]:
ol = list(map(lambda i: i**2, range(1,5)))

In [73]:
ol

[1, 4, 9, 16]

In [79]:
l = [1,2,3,4,5]
ol1 = tuple(map(lambda i:i+4, l))

In [80]:
ol1

(5, 6, 7, 8, 9)

In [88]:
ol2 = list(map(lambda i:i.lower().find('a'),['vijay','pratik','ram','vjy']))

In [89]:
ol2

[3, 2, 1, -1]

### Lambda with Filter

In [86]:
ol3 = list(filter(lambda i:i.lower().find('a')>-1,['vijay','ram','pratik','vjy']))

In [87]:
ol3

['vijay', 'ram', 'pratik']

In [92]:
ol4 = list(filter(lambda i:i>5,[1,2,3,6,47,7,9,4,53,2,4,2,34]))

In [93]:
ol4

[6, 47, 7, 9, 53, 34]

### Reduce

In [94]:
from functools import reduce

In [95]:
reduce(lambda a,b: a*b,[1,2,3,4,5,5])

600