### Function

In [1]:
def test(a,b,c,d,e):
    return a,b,c,d,e

In [2]:
test(23,45,23,45,65)

(23, 45, 23, 45, 65)

In [3]:
def test1(*args):   # unlimited arguments we can pass
    return args

In [4]:
test1(12,23,34,23,123,2,31,32,3123,23,23,123,2)

(12, 23, 34, 23, 123, 2, 31, 32, 3123, 23, 23, 123, 2)

In [5]:
test1(12,23,"vjy")

(12, 23, 'vjy')

In [6]:
test1(1,2,3,(4,5,6),[2,3,4],'vijay')

(1, 2, 3, (4, 5, 6), [2, 3, 4], 'vijay')

In [7]:
def test2(*vijay):
    return vijay

In [8]:
test2("vijay",1,2,3,[4,5])

('vijay', 1, 2, 3, [4, 5])

In [9]:
def test3(*vjy,a): 
    return vjy,a

In [10]:
test3(23,43,34) # we need to specify value for argument a

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [18]:
def test3c(a,*vjy):
    return a,vjy

In [19]:
test3c(12,243,243,23)

(12, (243, 243, 23))

In [ ]:
def test3a(*vjy,a=84): # need to be care if u specified a argument name
    return vjy,a

In [ ]:
test3a(12,34,34,23)

In [ ]:
def test3b(*vjy,a,b,c,d):
    return vjy,a,b,c,d

In [17]:
test3b(1,2,3,4,a=[2,3],b='vjy',c=2,d=4.5)

((1, 2, 3, 4), [2, 3], 'vjy', 2, 4.5)

In [20]:
def test4(**kwargs):   
    return kwargs

In [22]:
test4(a =23,b = 334,c=23,d=32)

{'a': 23, 'b': 334, 'c': 23, 'd': 32}

In [23]:
def test4a(**vjy):
    return vjy

In [25]:
test4a(name="vijay", age = 27, ph_no = 8484)

{'name': 'vijay', 'age': 27, 'ph_no': 8484}

In [30]:
def test4b(a,**vjy,*vjyp):
    return a,vjy,vjyp

SyntaxError: invalid syntax (3824428411.py, line 1)

In [31]:
def test4b(a,*vjy,**vjyp):
    return a,vjy,vjyp

In [33]:
test4b(23,3,4,32,2,44,c=34,b=84)

(23, (3, 4, 32, 2, 44), {'c': 34, 'b': 84})

### Lambda

In [40]:
lam_fun = lambda a,b:a*b

In [41]:
lam_fun(23,2)

46

In [42]:
lam_fun1 = lambda *a:a  # lambda with n number of arguments

In [43]:
lam_fun1(1,2,3,4,4)

(1, 2, 3, 4, 4)

In [52]:
x = lambda *a :a*2   #lambda fun understand whatever we pass that is tuple so tuple to tuple can't multiply

In [53]:
x(2,3,4,5)

(2, 3, 4, 5, 2, 3, 4, 5)

In [60]:
x1 = lambda *a :a*2

In [62]:
x1(2,3,4)

(2, 3, 4, 2, 3, 4)

In [73]:
x = lambda x:[i for i in x]  # if  you are going to store series of value then you have

In [72]:
x([2,3,4,5])

2
3
4
5

[None, None, None, None]

In [91]:
x1 = lambda **vjy:vjy

In [93]:
x1(a=34,b=23)

{'a': 34, 'b': 23}

In [94]:
a = 10
def test5(c,d):
    return c*d

In [96]:
test5(a,20)

200

In [102]:
a = 10
def test5a(c,d):
    a=5
    return c*d

In [103]:
test5a(a,20)

200

In [105]:
a = 10
def test5b(c,d):
    c=5
    return c*d

In [107]:
test5b(2,20)

100

In [112]:
c = 10  # this is flobal declaration
def test5c(c,d):
    c=5         #scope of this c is within a function itself
    return c*d

In [113]:
test5c(10,20)

100