## List Comprehension

 - List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

### Syntax

newlist = [expression **for** item **in** iterable **if** condition == **True**]

#### 1. Try to go through list and try to add 2 in each element and return list.

In [2]:
l = [2,3,4,5,6]

In [6]:
l1 = [i+2 for i in l]
l1

[4, 5, 6, 7, 8]

####  2. Return element square and add 1 in each element

In [7]:
[(i**2,i+1) for i in l]

[(4, 3), (9, 4), (16, 5), (25, 6), (36, 7)]

####  3. if element is less than 4 make square and return in list

In [8]:
[i**2 for i in l if i<4]

[4, 9]

####  4. Return only the fruits with the letter "a" in the name.

In [9]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

In [13]:
[i for i in fruits if "a" in i]

['apple', 'banana', 'mango']

#### 5.  Only accept items that are not "apple":

In [14]:
[i for i in fruits if i != "apple"]

['banana', 'cherry', 'kiwi', 'mango']

#### 6. Insert value in new_list to upper case of fruits

In [23]:
new_list = [i.upper() for i in fruits]
new_list

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

####  7. Return List which contain 1 to 10 numbers

In [16]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

####  8. Return number loweer than 12 from 1 to 50

In [17]:
[i for i in range(1,51) if i<12]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

####  9. Even list using list comprehension upto 20

In [24]:
[i for i in range(0,21) if i%2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### 10.  Return Matrix using list comprehension

In [26]:
[[j for j in range(3)] for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

#### 11. Display square of numbers from 1 to 10.

In [36]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 12. Reverse each string

In [37]:
[i[: : -1] for i in ("vijay","patil")]

['yajiv', 'litap']