In [1]:
s = "this is basic python class"

In [2]:
count = 0
for i in s:
    count = count+1
print("Total count of this string is : ", count)

Total count of this string is :  26

In [3]:
s[::-1]

'ssalc nohtyp cisab si siht'

In [4]:
for i in range(len(s)-1,-1,-1):
    print(s[i])

s
s
a
l
c

n
o
h
t
y
p

c
i
s
a
b

s
i

s
i
h
t

In [5]:
s

'this is basic python class'

In [6]:
len(s)

26

In [7]:
s[26]

IndexError: string index out of range

In [8]:
s[25]

's'

In [9]:
i = len(s)-1
while (i>=0):
    print(s[i], end = " ")
    i = i-1

s s a l c   n o h t y p   c i s a b   s i   s i h t

### Check Vowel

In [10]:
a1 = "imartics"
b = "AaEeIiOoUu"
for i in a1:
    if i in b:
        print(i," it is vowel")
    else:
        print(i,"its not vowel")

i  it is vowel
m its not vowel
a  it is vowel
r its not vowel
t its not vowel
i  it is vowel
c its not vowel
s its not vowel

### Palindrome

In [11]:
a = str(input())
b = a[: : -1]
if a == b:
    print(a,"is Palindrome")
else:
    print(a,"is not a palindrome")

 is Palindrome

In [12]:
b = "eye"
for  i in range(len(b)):
    if b[i]!=b[len(b)-i-1]:
        print(" not a palindrome")
        break
else:
    print("palindrome")

palindrome

In [13]:
p = "eye"
f = ""
i = len(p)-1
while(i>=0):
    f = f+p[i]
    i = i-1
if(p==f):
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [14]:
d = {"india" : "IN",
     "canada" : " CA",
    "china" : "CH",
    "united state" : "US"}

In [15]:
d

{'india': 'IN', 'canada': ' CA', 'china': 'CH', 'united state': 'US'}

In [16]:
"india" in d

True

In [17]:
"IN" in d

False

In [18]:
l1=[]
l2=[]
for i in d:
    if len(i) <=5:
        l1.append(i)
    else:
        l2.append(i)

In [19]:
l1

['india', 'china']

In [20]:
l2

['canada', 'united state']

In [21]:
d_1 ={"ineuron" :{"a" : 14,
                  "b" : 10,
                  "c" : 4},
      
      "course"   :{"d" : 45,
                   "e" : 34,
                    "f" : 1}
     }

In [22]:
d_1

{'ineuron': {'a': 14, 'b': 10, 'c': 4}, 'course': {'d': 45, 'e': 34, 'f': 1}}

In [23]:
lst = []
for i in d_1.values():
    print(i)

{'a': 14, 'b': 10, 'c': 4}
{'d': 45, 'e': 34, 'f': 1}

In [24]:
for i in d_1.values():
    for j in i.values():
        print(j)

14
10
4
45
34
1

In [27]:
l1 = []
for i in d_1.values():
    for j in i.values():
        l1.append(j)
    print(max(l1))

14
45

In [30]:
for i in d_1.values():
    mx = 0
    for j in i.values():
        if mx <j:
            mx = j
    print(mx)

14
45

In [32]:
for i in d_1.values():
    print(max(i.values()))

14
45

In [33]:
d_2 = {"inueron" :{"a" : 14, "b" : 10, "c" : 4},
       "course" : {"d" : 45, "e" : 34, "f" : 1},
       "g" : 34 ,
       "h" : [45, 6, 7.8, 9.3],
       "i" : (45, 30, 2),
       "k" : "viju"}

In [34]:
d_2

{'inueron': {'a': 14, 'b': 10, 'c': 4},
 'course': {'d': 45, 'e': 34, 'f': 1},
 'g': 34,
 'h': [45, 6, 7.8, 9.3],
 'i': (45, 30, 2),
 'k': 'viju'}

In [37]:
l2 = []
for i in d_2.values():
    if type(i) == dict:
        l2.append(max(i.values()))
    elif type(i) == list:
        l2.append(max(i))
    elif type(i) == tuple:
        l2.append(max(i))
    elif type(i) == str:
        pass
    else:
        l2.append(i)
        
print(max(l2))

45