### 1. Print First 10 natural numbers using while loop

In [3]:
num = 1
while num <= 10:
    print(num)
    num = num+1

1
2
3
4
5
6
7
8
9
10

### 2. Print the following pattern

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [10]:
n = 5
for i in range(0,n):
    for j in range(i+1):
        print(j+1,end = ' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### 3. Calculate the sum of all numbers from 1 to a given number

In [19]:
def sum_all(n):
    sum = 0
    for i in range(n+1):
        sum = sum+i
    print(sum)

In [20]:
sum_all(10)

55

In [22]:
sum_all(4)

10

In [23]:
sum_all(2)

3

### 4. Write a program to print multiplication table of a given number

In [27]:
def mul_table(m):
    a=0
    while a<=10:
        print(m,"*",a,"=",a*m)
        a=a+1

In [28]:
mul_table(5)

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## Or

In [34]:
a = int(input('enter the number :'))
for i in range(1,11):
    print(a*i)

enter the number :4
4
8
12
16
20
24
28
32
36
40

###  5.  Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop

numbers = [12, 75, 150, 180, 145, 525, 50]

In [12]:
numbers = [12,75,150,180,145,525,50]
for i in numbers:
    if i >500:
        break
    elif i>150:
        continue
    elif i%5==0:
        print(i)

75
150
145

### 6 . Count the total number of digits in a number

For example, the number is 75869, so the output should be 5.

In [25]:
num = 75869
count = str(num)
c=0
for i in count:
    c = c+1
print(c)

5

### 7. Print the following pattern

5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [38]:
n = 5
for i in range(n):
    for j in range(n-i,0,-1):
        print(j,end =' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### 8. Print list in reverse order using a loop

In [42]:
l = [10,20,30,40,50,60]
output = [i for i in l[::-1]]
output

[60, 50, 40, 30, 20, 10]

### 9. Display numbers from -10 to -1 using for loop

In [44]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### 10 . Use else block to display a message “Done” after successful execution of for loop

In [47]:
for i in range(5):
    print(i)
else:
    print('Done!')

0
1
2
3
4
Done!

### 11 . Write a program to display all prime numbers within a range

In [58]:
for i in range(25,50):
    for j in range(2,i):
        if i%j ==0:
            break
    else:
        print(i)

29
31
37
41
43
47

In [84]:
n = int(input("enter the number till prime number u want"))
for i in range(2,n):
    if n%i != 0:
        break
else:
    print(i)

enter the number till prime number u want5