### 1.  Calculate the multiplication and sum of two numbers

#### Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [1]:
def mul_sum(a,b):
    if a*b <= 1000:
        print("The multiplication is : ",a*b)
    else:
        print("The Addition is :",a+b)

In [2]:
mul_sum(100,2)

The multiplication is :  200

In [3]:
mul_sum(60,40)

The Addition is : 100

### 2.  Print the sum of the current number and the previous number

#### Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [4]:
previous = 0
for i in range(0,10):
    sum = previous+i
    print(i,"sum with previous = ",sum)
    previous = i

0 sum with previous =  0
1 sum with previous =  1
2 sum with previous =  3
3 sum with previous =  5
4 sum with previous =  7
5 sum with previous =  9
6 sum with previous =  11
7 sum with previous =  13
8 sum with previous =  15
9 sum with previous =  17

### 3. Print characters from a string that are present at an even index number

#### Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "Imarticus" so you should display ‘I’, ‘a’, ‘t’, ‘c’,'s'.

In [5]:
e = 'Imarticus'  
for i in e[::2]:      # For even index
    print(i)

I
a
t
c
s

In [6]:
e = 'Imarticus'
for i in e[1::2]:       # For odd index
    print(i)

m
r
i
u

### 4 . Write a program to remove characters from a string starting from zero up to n and return a new string.

In [7]:
def remove_chr(a,n):
    print(a[n:len(a)])

In [8]:
remove_chr('characters',4)

acters

In [9]:
remove_chr('vijay',3)

ay

### 5. Check if the first and last number of a list is the same

#### Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [10]:
def check_num(a):
    if a[0] == a[-1]:
        print("fisrt and last number is True")
    else:
        print("first and last number is not True")

In [11]:
check_num([12,23,23,4,45,665,12])

fisrt and last number is True

In [12]:
l =[84,4,6,6,75,45,34]

In [13]:
check_num(l)

first and last number is not True

### 6.  Display numbers divisible by 5 from a list

#### Iterate the given list of numbers and print only those numbers which are divisible by 5

Given list is [10, 20, 33, 46, 55]

In [14]:
l = [10,20,33,46,55]
for i  in l:
    if i%5 == 0:
        print(i)

10
20
55

In [15]:
[i for i in l if i%5 == 0]

[10, 20, 55]

### 7. Return the count of a given substring from a string

#### Write a program to find how many times substring “Jeevan” appears in the given string

str_x = "Jeevan is Data Scientist. And Jeevan is Data science coach as well"

In [16]:
str = "Jeevan is Data Scientist. And Jeevan is Data science coach as well"

In [17]:
str.count('Jeevan')

2

In [18]:
count = 0
for i in str.split(' '):
    if i ==  'Jeevan':
        count = count+1
        
print(count)

2

### 8. Print the following pattern

1 

2 2 

3 3 3 

4 4 4 4 

5 5 5 5 5

In [27]:
n = 5
for i in range(0,n):
    for j in range(i+1):
        print(i+1,end =' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### 9 . Check Palindrome Number

Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

In [12]:
b = 545
def palindrome(b):
    if int(st
           
           r(b)[::-1])== b:
        print("number is palindrome")
    else:
        print("number is not palindrome")

In [13]:
palindrome(154)

number is not palindrome

In [14]:
palindrome(212)

number is palindrome

In [15]:
palindrome(121)

number is palindrome

### 10. Create a new list from a two list using the following condition
    
Create a new list from a two list using the following condition

Given a two list of numbers, write a program to create a new list such that

the new list should contain <b>odd numbers from the first list<b>  and  <b>even numbers from the second list.<b>

In [24]:
l1 = [23,34,45,27,87,56]
l2 = [56,78,49,39,76,87]
new_list = []
for i in l1:
    if i%2 != 0:
        new_list.append(i)
for i in l2:
    if i%2 == 0:
        new_list.append(i)

In [27]:
new_list

[23, 45, 27, 87, 56, 78, 76]

###  11.  Write a Program to extract each digit from an integer in the reverse order.
For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [28]:
a = 7536
b = str(a)[::-1]
' '.join(b)

'6 3 5 7'

### 12. Print multiplication table form 1 to 10

In [39]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end = ' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

### 13.  Print downward Half-Pyramid Pattern with Star (asterisk)

* * * * * 
* * * * 
* * * 
* * 
*

In [44]:
n=5
for i in range(0,n):
    for j in range(n-i):
        print("*",end = ' ')
    print()

* * * * *
* * * *
* * *
* *
*

### 15 . Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp

In [47]:
def exponent(b,e):
    res = b**e
    print(b,'raise to the power of',e,'=',res)

In [48]:
exponent(2,3)

2 raise to the power of 3 = 8

### 16. Accept numbers from a user
Write a program to accept two numbers from the user and calculate multiplication

In [49]:
num1 = int(input('enter the number1 : '))
num2  = int(input('enter the number2 : '))
print(num1,'multiply by',num2,'=',num1*num2)

enter the number1 : 5
enter the number2 : 2
5 multiply by 2 = 10

### 17 . Display three string “Name”, “Is”, “Jeevan” as “Name** Is **Jeevan”

In [53]:
l = ['Name', 'Is', 'Jeevan']

In [54]:
'**'.join(l)

'Name**Is**Jeevan'

### 18. Convert Decimal number to octal using print() output formatting

In [55]:
num = 8
oct(num)

'0o10'

### 19. Accept a list of 5 float numbers as an input from the user

In [57]:
l = []
for i in range(5):
    l.append(float(input('enter float number')))
print(l)

enter float number1
enter float number5
enter float number5
enter float number55
enter float number55
[1.0, 5.0, 5.0, 55.0, 55.0]

### 20. Accept any three string from one input() call

In [66]:
str1,str2,str3 = str(input('Enter Three string')).split(',')
print('string 1 is : ',str1)
print('string 2 is : ',str2)
print('string 3 is : ',str3)

Enter Three stringvijay,jagannath,patil
string 1 is :  vijay
string 2 is :  jagannath
string 3 is :  patil