In [1]:
import pandas as pd

In [2]:
ch = pd.read_csv('Churn.csv')

In [3]:
ch.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [4]:
ch.shape

(7043, 21)

### Gender and Churn

In [5]:
pd.crosstab(ch.gender,ch.Churn,)

Churn     No  Yes
gender
Female  2549  939
Male    2625  930

In [6]:
(2549/(2549+939))*100    # 73% Female customer not churned subscription

73.07912844036697

In [7]:
(939/(2549 +939))*100  # around 27% Female customer churned subscription

26.920871559633024

In [8]:
(2625/(2625+930))*100   # around 74% of male customer not churned subscription

73.83966244725738

In [9]:
(930/(930+2625))*100  # 26 % of male customer churned subscription

26.160337552742618

In [10]:
((939+930)/(939+930+2549+2625))*100  # around 27% churned customer subscription

26.536987079369588

_____________________________________________________________________________________________

### Partner and Churn

In [11]:
pd.crosstab(ch.Partner,ch.Churn)

Churn      No   Yes
Partner
No       2441  1200
Yes      2733   669

In [12]:
(2441/(2441+1200))*100  # 67% of customers has no partners and they have not churned subscription

67.04202142268608

In [13]:
(1200/(1200+2441))*100   # around 33% of customers has no partners and they have churned subscription

32.95797857731392

In [14]:
(2733/(2733+669))*100   # 80%  of customers has partners and they have not churnd subscription

80.33509700176367

In [15]:
(699/(699+2733))*100   # 20 % of customers has partners and they have churned subscription

20.367132867132867

In [16]:
((2733 + 669)/(2441+1200+2733+669))*100  # 48% customers has partners

48.30327985233565

________________________________________________________________________________________

### Contract and churn

In [17]:
pd.crosstab(ch.Contract,ch.Churn)

Churn             No   Yes
Contract
Month-to-month  2220  1655
One year        1307   166
Two year        1647    48

In [18]:
((2220 +1655)/(2220+1655+1307+166+1647+48))*100 # 55% of customers has month-to-month Contract

55.01916796819537

In [19]:
(2220/(2220+1655))*100   # 57% of customers has month-to-month contract and they have not churned subscription

57.29032258064516

In [20]:
(1655/(2220+1655))*100  # 43% of customers has month-to month contract and they have churned subscription

42.70967741935484

In [21]:
(1307/(1307+166))*100    # 89% of customers has one year contrsct and they have not churned subscription

88.73048200950441

In [22]:
(166/(1307+166))*100    # 11% of customers has one year contract and they have churned subscription

11.269517990495586

In [23]:
(1647/(1647+48))*100    # 97% of customers has two year contract and they have not churned subscription

97.16814159292035

In [24]:
(48/(1647+48))*100    # 3% of customers has two year contract and they have churned subscription

2.831858407079646

____________________________________________________________________________________________________________

### Internet Service and churn

In [25]:
pd.crosstab(ch.InternetService,ch.Churn)

Churn              No   Yes
InternetService
DSL              1962   459
Fiber optic      1799  1297
No               1413   113

In [26]:
(1962/(1962+459))*100   # 81% of customers has DSL Internet service and they have not churned subscription

81.04089219330855

In [27]:
(459/(1962+459))*100    # 19% of customers has DSL Internet service and they have churned subscription

18.95910780669145

In [28]:
(1799/(1799+1297))*100   # 58% of customers has Fiber optic internet service and they have not churned subscription

58.10723514211886

In [29]:
(1297/(1799+1297))*100    # 42% of customers has fiber optic internet service and they have not churned subscription

41.89276485788114

In [30]:
(1413/(1413+113))*100

92.59501965923984

In [31]:
(113/(1413+113))*100

7.404980340760157