In [62]:
import pandas as pd

In [63]:
df = pd.DataFrame({ "date" : ("2018-12-28 12:24:59" , 
                                       "2019-05-9  2:10:25" ,
                                       "2019-12-31  22:10:25" ,
                                       "2017-01-01  9:01:20",
                                       "2017-07-03  22:10:25",
                                        "2023-04-23 14:20:20") } )

In [64]:
df

                   date
0   2018-12-28 12:24:59
1    2019-05-9  2:10:25
2  2019-12-31  22:10:25
3   2017-01-01  9:01:20
4  2017-07-03  22:10:25
5   2023-04-23 14:20:20

In [65]:
df.info()  # date and time is in object form

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6 non-null      object
dtypes: object(1)
memory usage: 176.0+ bytes

In [66]:
df.date = pd.to_datetime(df.date)   # converted into datetime format

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 176.0 bytes

In [68]:
df['Name_of_the_day'] = df.date.dt.day_name()
df['day_of_week'] = df.date.dt.day_of_week
df['day_of_year'] = df.date.dt.day_of_year
df['week_of_year'] = df.date.dt.weekofyear
df['Hour'] = df.date.dt.hour
df['Minute']  = df.date.dt.minute
df['Month']  = df.date.dt.month
df['Second'] = df.date.dt.second

C:\Users\MR.GODHADE\AppData\Local\Temp\ipykernel_8896\2013674582.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['week_of_year'] = df.date.dt.weekofyear

In [69]:
df

,date,Name_of_the_day,day_of_week,day_of_year,week_of_year,Hour,Minute,Month,Second
0,2018-12-28 12:24:59,Friday,4,362,52,12,24,12,59
1,2019-05-09 02:10:25,Thursday,3,129,19,2,10,5,25
2,2019-12-31 22:10:25,Tuesday,1,365,1,22,10,12,25
3,2017-01-01 09:01:20,Sunday,6,1,52,9,1,1,20
4,2017-07-03 22:10:25,Monday,0,184,27,22,10,7,25
5,2023-04-23 14:20:20,Sunday,6,113,16,14,20,4,20

________________________________________________________________________________________________________

## How to / what to do when we have Invalid date

In [70]:
invalid_time =  pd.DataFrame({ "date" : ( 
                                       "20150112" ,
                                       "457" ,
                                       "201A/10/11",
                                       "20160919") } )

In [71]:
invalid_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4 non-null      object
dtypes: object(1)
memory usage: 160.0+ bytes

In [72]:
#invalid_time.date = pd.to_datetime(invalid_time.date)  # giving error when u pass invlid datetime

#ValueError: Given date string not likely a datetime.

In [73]:
invalid_time.date = pd.to_datetime(invalid_time.date,errors ='ignore') # error will ignore but it is in object form

In [74]:
invalid_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4 non-null      object
dtypes: object(1)
memory usage: 160.0+ bytes

In [75]:
invalid_time.date = pd.to_datetime(invalid_time.date,errors ='coerce') # NaT is equivalnt to none value

In [76]:
invalid_time

        date
0 2015-01-12
1        NaT
2        NaT
3 2016-09-19

In [77]:
invalid_time.date = invalid_time.date.fillna("20230423")

In [78]:
invalid_time

        date
0 2015-01-12
1 2023-04-23
2 2023-04-23
3 2016-09-19